/* frontend/src/features/employee-archive/ui/ShiftDetailsPanel/ShiftDetailsPanel.css */
.shift-details-panel {
    margin-bottom: 58px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}
.shift-details-header .detail-item{
    margin-bottom: 0;
    opacity: 0.9;
}
.shift-details-header .header-shift-name{
    font-size: 1rem;
    font-weight: 600;
    margin-inline-end: 0.5rem;
    transform: scale(1.05);
}

.detail-icon {
    color: var(--bs-secondary);
    flex-shrink: 0;
    transform: translateY(1px);
}

.detail-label {
    font-weight: 600;
}

@media (max-width: 576px) {
    .detail-item {
        font-size: 0.875rem;
    }
}