/* frontend/src/features/employee-archive/ui/ShiftDetailsPanel/ShiftDetailsPanel.css */
.shift-details-panel {
    margin-bottom: 58px;
}
.no-shift-details-panel .card-body{
    padding: 0.25rem;

}
.detail-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}
.shift-details-header .detail-item{
    margin-bottom: 0;
    opacity: 0.9;
}


.detail-icon {
    color: var(--bs-secondary);
    flex-shrink: 0;
    transform: translateY(1px);
    width: 1rem;
}

.detail-label {
    font-weight: 600;
}

@media (max-width: 576px) {
    .detail-item {
        font-size: 0.875rem;
    }
}
@media (max-width: 376px) {
    .workplace-info {
        flex-direction: column;
    }
}