/* frontend/src/features/employee-archive/ui/ShiftDetailsPanel/ShiftDetailsPanel.css */
.shift-details-panel {
    margin-bottom: 58px;
    border-radius: var(--radius-lg)!important;
    box-shadow: var(--shadow-lg);
    border-color: var(--bs-gray-300)!important;

}

[data-theme="dark"] .shift-details-panel {
    border-color: var(--bs-gray-900)!important;

}
.no-shift-details-panel .card-body{
    padding: 0.25rem;
    border-radius: var(--radius-lg)!important;

}
.detail-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;

}
.shift-details-header{
    border-top-left-radius: var(--radius-lg)!important;
    border-top-right-radius: var(--radius-lg)!important;
}
.shift-details-header .detail-item{
    margin-bottom: 0;
    opacity: 0.8;
}
.shift-details-header .no-shift{
    font-size: 0.9rem;
}

.detail-icon {
    color: var(--bs-secondary);
    flex-shrink: 0;
    transform: translateY(1px);
    width: 1rem;
}

.detail-label {
    font-weight: 600;
}

@media (max-width: 576px) {
    .detail-item {
        font-size: 0.875rem;
    }
}
@media (max-width: 376px) {
    .workplace-info {
        flex-direction: column;
    }
}