/* frontend/src/features/admin-workplace-settings/ui/WorkplaceActionButtons/WorkplaceActionButtons.css */

.workplace-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.workplace-actions .btn {
    padding: 0.375rem 0.375rem;
    line-height: 1;
    border-radius: 15%;
    color: var(--bs-white);
}
.workplace-actions .btn:hover {
    color: var(--bs-white);
}

@media (max-width: 767px) {

    .workplace-settings-container .workplace-actions {
        flex-direction: column;
        gap: 0.25rem;
    }
    .workplace-settings-container .workplace-actions .btn {
        width: 100%;
        justify-content: center;

    }

}