/* frontend/src/features/admin-workplace-settings/ui/PositionsTab/components/PositionsTable/PositionsTable.css */


/* Начальный цвет для смены */
.positions-table > tbody > .position-row {
    --bs-table-bg: transparent;
    transition: background-color 0.8s ease-out ;
}
.positions-table > tbody > .position-row:hover {
    --bs-table-hover-bg:  rgba(var(--bs-primary-rgb), 0.07);
}
/* Для АКТИВНОЙ (раскрытой) строки задаем постоянный фон */
.positions-table > tbody > .position-row.expanded {
    background-color: rgba(var(--bs-primary-rgb), 0.07);
}
/* Для АКТИВНОЙ строки при наведении  стандартный ховер */
.positions-table > tbody > .position-row.expanded:hover {
    --bs-table-hover-bg:  transparent;
}
.position-shifts-col{
    --bs-table-bg: rgba(var(--bs-primary-rgb), 0.03);

    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1) inset !important;
}

/* Для темной темы */
[data-theme="dark"] .positions-table > tbody > .position-row.expanded,
[data-theme="dark"] .positions-table > tbody > .position-row.expanded:hover {
    --bs-table-accent-bg: rgba(var(--bs-primary-rgb), 0.2);
    --bs-table-hover-bg: rgba(var(--bs-primary-rgb), 0.2);
}

[data-theme="dark"] .position-shifts-col{
    --bs-table-bg: var(--bs-gray-900);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1) inset !important;
}

/* Стили для неактивных строк */
.positions-table > tbody > .position-row.inactive-row {
    opacity: 0.6;
}
.positions-table > tbody > .position-row.inactive-row:hover {
    opacity: 0.8;
}


/* === СТИЛИ ДЛЯ ИКОНКИ РАСКРЫТИЯ (ВАШЕ РЕШЕНИЕ) === */

/* Задаем transition для псевдоэлемента, где и находится иконка */
.position-row .transition-icon::before {
    transition: transform 0.3s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    font-size: 0.75rem;
}

/* Поворачиваем и окрашиваем ПСЕВДОЭЛЕМЕНТ в раскрытой строке */
.position-row.expanded .transition-icon::before {
    transform: rotate(90deg);
    color: var(--bs-primary);
}