/* frontend/src/shared/ui/components/SortableHeader/SortableHeader.css */
.sortable-header {
    cursor: pointer;
    user-select: none; /* Предотвращает выделение текста при клике */
}

.sortable-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

[data-bs-theme="dark"] .sortable-header:hover {
    background-color: rgba(255, 255, 255, 0.05);
}