.generate-schedule-form-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), margin 0.5s ease!important;
    padding: 0;
    box-shadow: none;
    margin-top: -2.25rem;
    margin-bottom: 2.25rem;
    border-radius: var(--radius-lg);
}

.generate-schedule-form-container.visible {
    max-height: 800px;
    margin-bottom: 1rem;
}



.generate-schedule-form-card {
    background-color: var(--bs-gray-50) !important;
    border-color: transparent !important;
    box-shadow: var(--bs-box-shadow-sm);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

[data-theme="dark"] .generate-schedule-form-card {
    background-color: var(--bs-gray-900) !important;
}

.generate-schedule-form-card .generate-buttons button {
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
}

.generate-form-layout {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.generate-schedule-form-card .form-calendar-section {
    min-width: 280px;
}

.generate-schedule-form-card .form-settings-section {
    min-width: 200px;
}

.generate-schedule-form-card .form-optimization-section {
    min-width: 200px;
}

.generate-schedule-form-card .form-calendar-section .custom-datepicker-inline{
    border: none!important;
}

/* Стили для списка чекбоксов */
.generate-schedule-form-card .positions-checkbox-group {
    max-height: 180px;
    overflow-y: auto;
    padding: 0.75rem;
    background-color: var(--bs-gray-100);
    border-radius: var(--radius-md);
    border: 1px solid var(--bs-border-color);
}
.generate-schedule-form-card .positions-checkbox-group div:last-child{
    margin-bottom: 0;
}

[data-theme="dark"] .generate-schedule-form-card .positions-checkbox-group {
    background-color: var(--bs-gray-800);
}

.generate-schedule-form-card .positions-checkbox-group .form-check {
    margin-bottom: 0.5rem;

}

.generate-schedule-form-card .positions-checkbox-group .form-check .form-check-input,
.generate-schedule-form-card .positions-checkbox-group .form-check label {
    cursor: pointer;
}

.generate-schedule-form-card .generate-buttons button {
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
}

/* Адаптивность */
@media (max-width: 768px) {
    .generate-form-layout {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    .generate-schedule-form-card .form-calendar-section,
    .generate-schedule-form-card .form-settings-section,
    .generate-schedule-form-card .form-optimization-section {
        margin-bottom: 1.5rem;
    }
}
