/* frontend/src/features/employee-archive/index.css */
.employee-archive-container {
    padding: 20px;
    max-width: 1400px;
}

.archive-content {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .archive-content {
        /*gap: 15px;*/
    }
}

@media (max-width: 576px) {
    .archive-content {
        /*gap: 10px;*/
    }

    .employee-archive-container {
        padding: 10px 5px;
    }
}