.schedule-info-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: var(--bs-gray-200) 1px solid!important;
}

[data-theme="dark"] .schedule-info-card {
    border-color: var(--bs-gray-800)!important;
    background-color: var(--bs-gray-800) ;
}

.schedule-info-card .form-check-input{
    height: 1.25rem;
    margin-inline-end: 0.25rem;
}

.schedule-info-card .form-check-label{
    font-size: 0.9rem;
}

.schedule-info-card .week-title {
    color: var(--bs-gray-700);
    font-weight: 600;
}

[data-theme="dark"] .schedule-info-card.week-title {
    color: var(--bs-gray-300);
}